.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 10px;
  background-color: #f9f9f9;
  font-size: 18px;
  box-sizing: border-box;
}

.Title {
  color: #dddddd;
  margin: 0;
  padding: 0;
}

.Counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.Button {
  padding: 12px 20px 12px 20px;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  background: #1cb189;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  margin-right: 10px;
}

.Button:hover {
  background-color: #189171;
  transition: background-color 150ms;
}

.Value {
  margin: 0 10px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #1cb189;
  color: #1cb189;
  background: #ffffff;
  border-radius: 5px;
}

.Loading {
  padding: 50px;
  color: #dddddd;
  font-weight: 700;
}

.Links,
.Links a {
  margin-top: 20px;
  font-size: 16px;
  color: #dddddd;
}
